.input-container {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.create-card-container {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
}

button {
  width: 5rem;
  margin-top: 1rem;
}

.label {
  padding-bottom: 0.5rem;
}

.error {
  color: red;
}
